@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap");

:root {
  --blue-btn: #4891ff;
  --blue-btn-color: #fff;
  --gray-btn: #f4f4f6;
  --gray-btn-color: #000;
  --bgc-white: #fff;
  --bgc-black: #000;
  --bgc-light-black: #111111;
  --bgc-dark-gray: #dddddd;
  --link-color-black: #000;
  --linkhover-color: #4991ff;
  --font-color-black: #000;
  --font-color-white: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
}

/* !  */
.container {
  max-width: 1100px;
  margin: auto;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-tight {
  max-width: 790px;
  margin: auto;
}

section {
  padding: 15px;
}

.bg-black {
  background-color: var(--bgc-black);
}
.bg-gray {
  background-color: #f4f4f6;
}
.bg-light-black {
  background-color: var(--bgc-light-black);
}
section .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.light-btn {
  background-color: var(--gray-btn);
  color: var(--gray-btn-color);
}
.dark-gray-btn {
  background-color: var(--bgc-dark-gray);
  color: var(--font-color-black);
}
.blue-btn {
  background-color: var(--blue-btn);
  color: var(--blue-btn-color);
}
.text-xxl {
  font-size: 3rem;
  font-weight: 600;
}

.text-xl {
  font-size: 2.2rem;
  font-weight: 400;
}

.text-md {
  font-size: 1.2rem;
  /* font-weight: 600; */
}
/*! header */

header {
  padding: 20px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}

.links a {
  color: var(--font-color-black);
  transition: 0.4s all ease;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
}

.links a:hover {
  color: var(--linkhover-color);
}
.links button {
}

.links button:hover {
  color: var(--blue-btn);
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.hamburger:hover i {
  color: var(--blue-btn);
}

/* ! Section hero */

section.hero .container {
  height: 550px;

  background-image: url(../images/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

section.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 70%;
}
section.hero h2 {
  line-height: 1.2;
}

section.hero p {
  width: 60%;
  /* font-size: 2.5rem; */
  /* font-weight: 600; */
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}

/* section video */
.video h1 {
  color: var(--font-color-white);
  text-align: center;
  width: 90%;
}

.video .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.video-div {
  text-align: center;
}
.video-div img {
  width: 100%;
}

section.feedbacks {
}
.feedbacks h1 {
  text-align: start;
  color: var(--font-color-white);
  margin-bottom: 1.5rem;
}

.review-cards {
  width: 100%;
  display: flex;
  align-items: center;
  /* color: white; */
  gap: 2rem;
}

.review-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  min-height: 300px;
  flex: 1;
}

.review-card p:nth-of-type(1) {
  margin-bottom: 2rem;
}

.review-card p:nth-of-type(2) {
  font-weight: 700;
}

/* !Pricing */
.pricing-title,
.pricing-header-description,
.pricing-footer-description {
  text-align: center;
}

/* ? Pricing */

.pricing .container h1 {
  margin-bottom: 2rem;
}

.pricing-header-description {
  margin-bottom: 2rem;
}
.pricing-cards {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.pricing-card.bg-black {
  color: #fff;
}

.pricing-card {
  padding: 3rem 1rem 1rem;
  border-radius: 10px;
  /* min-height: 60vh ; */
  flex: 1;
  min-height: 650px;
}

.pricing-card * {
  text-align: left;
}
.pricing-card:nth-of-type(1) h1,
.pricing-card:nth-of-type(1) p,
.pricing-card:nth-of-type(1) ul {
  color: #333333;
}

.pricing-card p:nth-of-type(1) {
  margin-bottom: 3rem;
}

.pricing-card p:nth-of-type(2) {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.pricing-card:nth-of-type(2) p:nth-of-type(3) {
  margin-bottom: 2rem;
}
.pricing-card ul li {
  list-style: none;
  margin-bottom: 20px;
}

.pricing-card ul li i {
  margin-right: 10px;
}
.pricing-card button {
  width: 100%;
}

.pricing-footer-description {
  margin: 2rem 0;
}

/* ! questions */

section.questions {
}
.questions h1 {
  text-align: center;
}

.question-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-buttons div {
  background-color: var(--bgc-dark-gray);
  flex-basis: 500px;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: .2rem; */
}

.question-buttons div button {
  /* background-color: inherit; */
}
.question-answers {
}
.qa-cont {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bgc-dark-gray);
}
.q-cont {
}
.q-cont p {
  font-weight: 500;
  width: 90%;
  text-align: left;
  margin-bottom: 3rem;
  position: relative;
}
.q-cont p i {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s all ease;
}

.q-cont p i:hover {
  opacity: 0.5;
}

.a-cont {
  /* display: none; */
}

footer {
}
footer a {
  color: #fff;
}
footer .container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

.footer-card {
  background-color: var(--bgc-white);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

.footer-card p {
  text-align: justify;
  font-size: 0.8rem;
}
.footer-card form {
  width: 100%;
}
.footer-card form input {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  height: 40px;
}

.footer-card form input:nth-of-type(1) {
  padding-left: 5px;
}

.footer-socials {
  font-size: 1.5rem;
}

.footer-socials a {
  margin-right: 0.5rem;
}
.footer-socials a:hover {
  opacity: 0.8;
}
.footer-right {
  flex: 2;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-right-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
}
.footer-right ul {
  list-style-type: none;
  color: var(--font-color-white);
}
.footer-right ul li {
  margin-top: 1rem;
}
.footer-right ul li a {
  color: #cccccc;
  transition: 1s all ease;
  white-space: nowrap;
}

.footer-right ul li a:hover {
  opacity: 0.8;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

/* *********************************** */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!! ==-- MEDIA QUERIES --== !!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* *********************************** */

@media (max-width: 960px) {
  section.hero .hero-content {
    gap: 0.7rem;
  }

  .text-xxl {
    font-size: 2.5rem;
  }
  section.hero p {
    /* font-size: .9rem; */
  }
}

@media (max-width: 670px) {
  .container {
    padding: 0;
  }
  .text-xl {
    font-size: 1.9rem;
  }
  .text-md {
    font-size: 1.1rem;
  }

  .links {
    display: none;
  }

  section.hero .container {
    background-image: url(../images/hero-bg-mobile.png);
    height: 770px;
    background-size: 350px 400px;
    /* background-repeat: no-repeat; */
    /* background-position: bottom;  */
  }

  section.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    width: 100%;
  }

  section.hero h2 {
    /* font-size: 2rem;
    line-height: 1.2; */
  }

  section.hero p {
    width: 100%;
    line-height: unset;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .hero-buttons button {
    width: 100%;
  }
  .hamburger {
    display: block;
  }

  .review-cards {
    flex-direction: column;
  }

  .review-card {
    min-height: unset;
  }

  .pricing-cards {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
  }

  footer .container {
    /* padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem; */
    flex-direction: column;
  }

  .fotoer-left {
    width: 100%;
  }
  .footer-card {
    width: 100%;
    text-align: center;
  }
  .footer-card h4,
  .footer-card p {
    text-align: center;
    margin: auto;
  }
  .footer-left a {
    margin: auto;
  }
  .footer-socials {
    margin: auto;
  }
  .footer-right-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
 
}

@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }

  .question-buttons div {
    flex-basis: 150px;
    justify-content: center;
  }

  .question-buttons div button.dark-gray-btn {
    /* display: none; */
  }
}
